<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Orchestrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Orchestrator.Properties.Settings>
            <setting name="StartTime" serializeAs="String">
                <value>6:22 PM</value>
            </setting>
            <setting name="callDuration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="callType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FromMail" serializeAs="String">
                <value>lorenzo@whirlwindsoftware.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>fr33z3r!</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>mymail.brinkster.com</value>
            </setting>
        </Orchestrator.Properties.Settings>
    </userSettings>
</configuration>